
<div class="row">
  <div class="col-sm-6 offset-sm-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h1>Customer sign in</h1>
      </div>
      <div class="panel-body">
          <form action="/clients/new" method="post">
            <h3>Current wait time: <%= @wait %> minutes</h3>
            <p>Add your name to the list</p>
            <div class="form-group col-xs-6" >
              <label for="name">Your name:</label>
              <input type="text" name="name" class="form-control">
              <label for="specialty">What are you here for?</label>
              <input type="text" name="preference" class="form-control">
              <button type="submit" class="btn btn-danger">Find a barber</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h1>Today's waiting list:</h1>
    <% @clients.each do |client| %>
      <h3><a href='/client/<%= client.id %>'><%= client.name %></a></h3>
      <h4>Appointment with: <% if client.barber_name != ''%><%= client.barber_name %><% else %>Next Available<% end %></h4>
    <% end %>
  </div>
  <div class="col-sm-6">
    <div class="barbers">
      <h1>Today's barbers:</h1>
      <% @barbers.each do |barber| %>
        <h3><a href='/barber/<%= barber.id %>'><%= barber.name %></a></h3>
        <h4>Specializes in: <%= barber.specialty %></h4>
      <% end %>
    </div>
    <div class=" panel panel-danger new_barber">
      <div class="panel-heading">
        <h4>Are you a barber? Would you like to cut some hair today?</h4>
      </div>
      <div class="panel-body">
        <form action="/barbers/new" method="post">
          <div class="form-group col-xs-6">
            <label for="barber_name">Your name:</label>
            <input type="text" name="barber_name" class="form-control">
            <label for="specialty">Your specialty:</label>
            <select class="form-control" name="specialty">
              <option>mustache wax</option>
              <option>beard trim</option>
              <option>haircut</option>
              <option>shave</option>
            </select>
            <button type="submit" class="btn btn-danger">Join</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
